//Imports
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");

//Colors
$content_textColor: hsl(0, 0%, 100%);

$topContent_backgroundColor--lighter: hsl(13, 100%, 72%);
$topContent_backgroundColor--darker: hsl(353, 100%, 62%);
$topContent_nav_dropDownOption_backgroundColor: white;
$topContent_nav_dropDownOption_linkColor: black;
$topContent_signUp_textColor: hsl(356, 100%, 66%);
$topContent_signUp_textColor--hover: hsl(0, 0%, 100%);
$topContent_signUp_backgroundColor: hsl(0, 0%, 100%);
$topContent_signUp_backgroundColor--hover: hsl(355, 100%, 74%);

$mainContent_row_headingColor: hsl(208, 49%, 24%);
$mainContent_row_backgroundColor--light: #fafafa;
$mainContent_row_backgroundColor--dark--lighter: hsl(237, 23%, 32%);
$mainContent_row_backgroundColor--dark--darker: hsl(237, 17%, 21%);
$mainContent_row_textColor--dark: hsl(207, 13%, 34%);
$mainContent_row_textColor--white: hsl(0, 0%, 100%);

$footer_textColor: hsl(240, 2%, 79%);
$footer_backgroundColor: hsl(240, 10%, 16%);

//Font
$content_fontSize: 16px;
$content_fontFamily: "Overpass", sans-serif;

//Others
$content_borderRadius: 10rem;

@mixin ctaBttn() {
  font-weight: 800;
  background-color: $topContent_signUp_backgroundColor;
  color: $topContent_signUp_textColor;
  border-radius: 2rem;
  padding: 0.75rem;
  &:hover {
    background-color: $topContent_signUp_backgroundColor--hover;
    color: $topContent_signUp_textColor--hover;
  }
}

//SCSS
html {
  font-size: $content_fontSize;
  font-family: $content_fontFamily;
}

body {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: $mainContent_row_backgroundColor--light;

}

a {
  text-decoration: none;
  color: $content_textColor;
}

#topContent_nav_left_logo,
#bottomContent_logo {
  max-height: 2rem;
}

#topContent {
  width: 100%;
  height: auto;
  color: $content_textColor;
  border-bottom-left-radius: $content_borderRadius;
  background-image: url("../images/bg-pattern-intro-desktop.svg"),
    linear-gradient(
      to right,
      $topContent_backgroundColor--lighter,
      $topContent_backgroundColor--darker
    );
  background-position: center;
  a {
    &:link {
      color: $content_textColor;
    }
    &:visited {
      color: $content_textColor;
    }
  }
  nav#topContent_nav {
    display: flex;
    flex: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 3.5rem;
    padding-left: 10%;
    padding-right: 10%;
    #topContent_nav_left {
      width: 50%;
      height: auto;
      display: flex;
      flex: row;
      flex-wrap: wrap;
      img#topContent_nav_left_logo {
        padding-top: 0.25rem;
        margin-right: 2rem;
      }
      .topContent_nav_left_dropDownOption {
        margin-left: 1rem;
        margin-right: 1rem;
        h5 {
          cursor: pointer;
        }
        .topContent_nav_left_dropDownOption--hover {
          display: none; //Change once js coding begins
          flex-direction: column;
          position: absolute;
          background-color: $topContent_nav_dropDownOption_backgroundColor;
          padding: 1rem;
          a {
            color: $topContent_nav_dropDownOption_linkColor;
            margin: 0.25rem;
            &:hover {
              display: flex;
              font-weight: bolder;
            }
          }
        }
      }
    }
    #topContent_nav_right {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 1.5rem;
      a {
        margin-left: 2rem;
      }
      .ctaButton {
        @include ctaBttn();
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
  }
  header {
    text-align: center;
    margin: auto;
    width: 100%;
    padding-bottom: 6rem;
    h1#topContent_heading {
      font-size: 3.5rem;
      margin-top: 4rem;
      margin-bottom: 0rem;
    }
    h5#topContent_subheading {
      font-size: 1.25rem;
      font-weight: 100;
      margin-top: 1rem;
      margin-bottom: 4rem;
    }
    a {
      background-color: $topContent_signUp_backgroundColor--hover;
      color: $topContent_signUp_textColor;
      border: solid;
      border-width: 0.1rem;
      border-radius: 2rem;
      border-color: white;
      padding: 0.75rem;
      margin: 0.5rem;
      font-weight: 800;
      &:hover {
        background-color: $topContent_signUp_backgroundColor;
        color: $topContent_signUp_textColor;
      }
    }
    .ctaButton:nth-child(1) {
      border: none;
      @include ctaBttn();
    }
  }
}

#mainContent {
  padding-top: 6rem;
  padding-bottom: 4rem;
  h2#mainContent_heading {
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    color: $mainContent_row_headingColor;
  }
  //All Rows
  .mainContent_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    .mainContent_row_blurb {
      display: flex;
      flex-direction: column;
      line-height: 1.75rem;
      font-weight: 400;
      h3.mainContent_row_blurb_heading--dark {
        color: $mainContent_row_headingColor;
        margin-bottom: 0rem;
        margin-top: 4rem;
        font-size: 1.5rem;
      }
      h2.mainContent_row_blurb_heading--light {
        margin-bottom: 0.5rem;
        font-size: 2rem;
        font-weight: 400;
      }
    }
  }
  //Top Row
  .mainContent_row:nth-child(2) {
    overflow-x: hidden;
    .mainContent_row_blurb {
      min-width: 35%;
      height: auto;
      margin-left: 10%;
    }
    .mainContent_row_img {
      min-width: 65%;
      height: auto;
      margin-left: 10%;
      margin-top: -11rem;
    }
  }
  //"State of the Art Infrastructure" row
  .mainContent_row:nth-child(3) {
    background-color: $mainContent_row_backgroundColor--dark--darker;
    border-bottom-left-radius: $content_borderRadius;
    border-top-right-radius: $content_borderRadius;
    color: $mainContent_row_textColor--white;
    background-image: url("../images/bg-pattern-circles.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -50rem;
    background-position-x: -20rem;
    justify-content: space-evenly;
    .mainContent_row_blurb {
      h2.mainContent_row_blurb_heading--light {
        word-break: break-word;
      }
      margin-top: auto;
      margin-bottom: auto;
      width: 36%;
      height: auto;
    }
    .mainContent_row_img {
      margin-top: -4rem;
      margin-bottom: -7rem;
      width: 40%;
      height: auto;
    }
  }
  //"Free, open, simple" row
  .mainContent_row:nth-child(4) {
    overflow-x: hidden;
    .mainContent_row_img {
      margin-left: -20.25%;
      width: 70%;
      height: auto;
    }
    .mainContent_row_blurb {
      margin-top: 8rem;
      margin-left: 5rem;
      width: 35%;
      height: auto;
    }
  }
}

footer#bottomContent {
  border-top-right-radius: $content_borderRadius;
  background-color: $footer_backgroundColor;
  width: 100%;
  height: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  #bottomContent_nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    img#bottomContent_logo {
      margin-bottom: 12rem;
    }
    .bottomContent_nav_option {
      h5 {
        color: white;
      }
      .bottomContent_nav_subOptions {
        display: flex;
        flex-direction: column;
        a {
          color: $footer_textColor;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  #topContent {
    nav#topContent_nav {
      #topContent_nav_left {
        .topContent_nav_left_dropDownOption {
          display: none;
        }
      }

      #topContent_nav_right {
        display: none;
      }
    }
  }
}
