@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
html {
  font-size: 16px;
  font-family: "Overpass", sans-serif; }

body {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

svg {
  overflow: visible; }

a {
  text-decoration: none;
  color: white; }

#topContent {
  color: white;
  background-color: #ff8f70;
  border-bottom-left-radius: 2rem; }
  #topContent a:link {
    color: white; }
  #topContent a:visited {
    color: white; }
  #topContent nav#topContent_nav {
    display: flex;
    flex: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem; }
    #topContent nav#topContent_nav #topContent_nav_left {
      display: flex;
      flex: row;
      justify-content: space-around;
      flex-wrap: wrap; }
      #topContent nav#topContent_nav #topContent_nav_left svg {
        padding-top: 0.25rem;
        margin-right: 2rem; }
      #topContent nav#topContent_nav #topContent_nav_left .topContent_nav_left_dropDownOption {
        margin-left: 1rem;
        margin-right: 1rem; }
        #topContent nav#topContent_nav #topContent_nav_left .topContent_nav_left_dropDownOption h5 {
          cursor: pointer; }
        #topContent nav#topContent_nav #topContent_nav_left .topContent_nav_left_dropDownOption .topContent_nav_left_dropDownOption--hover {
          display: flex;
          flex-direction: column;
          position: absolute;
          background-color: white; }
          #topContent nav#topContent_nav #topContent_nav_left .topContent_nav_left_dropDownOption .topContent_nav_left_dropDownOption--hover a {
            color: black; }
            #topContent nav#topContent_nav #topContent_nav_left .topContent_nav_left_dropDownOption .topContent_nav_left_dropDownOption--hover a:hover {
              font-weight: bolder; }
    #topContent nav#topContent_nav #topContent_nav_right {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 1.5rem; }
      #topContent nav#topContent_nav #topContent_nav_right a {
        margin-left: 2rem; }
  #topContent header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 4rem; }

#mainContent {
  margin-top: 6rem; }
  #mainContent h2#mainContent_heading {
    text-align: center;
    color: #1f3f5b; }
  #mainContent .mainContent_row {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    margin: 8rem; }
    #mainContent .mainContent_row .mainContent_row_blurb {
      width: 70%;
      margin: 2rem; }
      #mainContent .mainContent_row .mainContent_row_blurb h3.mainContent_row_blurb_heading {
        color: #1f3f5b; }
    #mainContent .mainContent_row .mainContent_row_img {
      width: 80%;
      height: auto; }

@media only screen and (max-width: 375px) {
  #topContent nav#topContent_nav #topContent_nav_left .topContent_nav_left_dropDownOption {
    display: none; }
  #topContent nav#topContent_nav #topContent_nav_right {
    display: none; } }
