@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
html {
  font-size: 16px;
  font-family: "Overpass", sans-serif; }

body {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

a {
  text-decoration: none;
  color: white; }

#topContent {
  color: white;
  border-bottom-left-radius: 10rem;
  background-image: url("../images/bg-pattern-intro-desktop.svg"), linear-gradient(to right, #ff8f70, #ff3d54);
  background-position: center; }
  #topContent a:link {
    color: white; }
  #topContent a:visited {
    color: white; }
  #topContent nav#topContent_nav {
    display: flex;
    flex: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem; }
    #topContent nav#topContent_nav #topContent_nav_left {
      width: 50%;
      display: flex;
      flex: row;
      flex-wrap: wrap; }
      #topContent nav#topContent_nav #topContent_nav_left .topContent_nav_left_logo {
        width: 25%;
        height: auto;
        padding-top: 0.25rem;
        margin-right: 2rem; }
      #topContent nav#topContent_nav #topContent_nav_left .topContent_nav_left_dropDownOption {
        margin-left: 1rem;
        margin-right: 1rem; }
        #topContent nav#topContent_nav #topContent_nav_left .topContent_nav_left_dropDownOption h5 {
          cursor: pointer; }
        #topContent nav#topContent_nav #topContent_nav_left .topContent_nav_left_dropDownOption .topContent_nav_left_dropDownOption--hover {
          display: none;
          flex-direction: column;
          position: absolute;
          background-color: white;
          padding: 1rem; }
          #topContent nav#topContent_nav #topContent_nav_left .topContent_nav_left_dropDownOption .topContent_nav_left_dropDownOption--hover a {
            color: black;
            margin: 0.25rem; }
            #topContent nav#topContent_nav #topContent_nav_left .topContent_nav_left_dropDownOption .topContent_nav_left_dropDownOption--hover a:hover {
              display: flex;
              font-weight: bolder; }
    #topContent nav#topContent_nav #topContent_nav_right {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 1.5rem; }
      #topContent nav#topContent_nav #topContent_nav_right a {
        margin-left: 2rem; }
      #topContent nav#topContent_nav #topContent_nav_right .ctaButton {
        background-color: white;
        color: #ff525d;
        border-radius: 2rem;
        padding: 0.75rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem; }
        #topContent nav#topContent_nav #topContent_nav_right .ctaButton:hover {
          background-color: #ff7a85;
          color: white; }
  #topContent header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 6rem; }
    #topContent header h1#topContent_heading {
      margin-top: 4rem;
      margin-bottom: 0rem; }
    #topContent header h5#topContent_subheading {
      margin-top: 0.5rem;
      margin-bottom: 4rem; }
    #topContent header a {
      background-color: #ff7a85;
      color: #ff525d;
      border: solid;
      border-width: 0.1rem;
      border-radius: 2rem;
      border-color: white;
      padding: 0.75rem;
      margin: 0.5rem; }
      #topContent header a:hover {
        background-color: white;
        color: #ff525d; }
    #topContent header .ctaButton:nth-child(1) {
      border: none;
      background-color: white;
      color: #ff525d;
      border-radius: 2rem;
      padding: 0.75rem; }
      #topContent header .ctaButton:nth-child(1):hover {
        background-color: #ff7a85;
        color: white; }

#mainContent {
  margin-top: 6rem; }
  #mainContent h2#mainContent_heading {
    text-align: center;
    color: #1f3f5b; }
  #mainContent .mainContent_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 4rem; }
    #mainContent .mainContent_row .mainContent_row_blurb {
      display: flex;
      flex-direction: column;
      line-height: 1.5rem; }
      #mainContent .mainContent_row .mainContent_row_blurb h3.mainContent_row_blurb_heading--dark {
        color: #1f3f5b;
        margin-bottom: 0rem;
        margin-top: 4rem; }
      #mainContent .mainContent_row .mainContent_row_blurb h2.mainContent_row_blurb_heading--light {
        margin-bottom: 0.5rem; }
  #mainContent .mainContent_row:nth-child(2) {
    margin-left: 10rem; }
    #mainContent .mainContent_row:nth-child(2) .mainContent_row_blurb {
      width: 35%;
      height: auto; }
    #mainContent .mainContent_row:nth-child(2) .mainContent_row_img {
      width: 50%;
      height: auto;
      margin-left: 6rem;
      margin-top: -2rem; }
  #mainContent .mainContent_row:nth-child(3) {
    background-color: #2c2d3f;
    border-bottom-left-radius: 10rem;
    border-top-right-radius: 10rem;
    color: white;
    background-image: url("../images/bg-pattern-circles.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -50rem;
    background-position-x: -20rem;
    justify-content: space-evenly; }
    #mainContent .mainContent_row:nth-child(3) .mainContent_row_blurb {
      margin-top: auto;
      margin-bottom: auto;
      width: 38%; }
    #mainContent .mainContent_row:nth-child(3) .mainContent_row_img {
      margin-top: -4rem;
      margin-bottom: -7rem;
      width: 40%;
      height: auto; }
  #mainContent .mainContent_row:nth-child(4) {
    overflow-x: hidden; }
    #mainContent .mainContent_row:nth-child(4) .mainContent_row_img {
      margin-left: -17.5rem;
      width: 100%;
      height: auto; }
    #mainContent .mainContent_row:nth-child(4) .mainContent_row_blurb {
      margin-top: 8rem;
      margin-left: 5rem;
      margin-right: 12rem; }

footer#bottomContent {
  border-top-right-radius: 10rem;
  background-color: #25252d;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  footer#bottomContent img {
    transform: scale(40%);
    margin-bottom: 12rem; }
  footer#bottomContent #bottomContent_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: auto; }
    footer#bottomContent #bottomContent_nav h5 {
      color: #c8c8cb; }
    footer#bottomContent #bottomContent_nav .bottomContent_nav_subOptions {
      display: flex;
      flex-direction: column; }
      footer#bottomContent #bottomContent_nav .bottomContent_nav_subOptions a {
        color: #c8c8cb;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem; }
        footer#bottomContent #bottomContent_nav .bottomContent_nav_subOptions a:hover {
          text-decoration: underline; }

@media only screen and (max-width: 375px) {
  #topContent nav#topContent_nav #topContent_nav_left .topContent_nav_left_dropDownOption {
    display: none; }
  #topContent nav#topContent_nav #topContent_nav_right {
    display: none; } }
